{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Продукты{% endif %}
{% endblock %}
{% block content %}
<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .product-detail {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .product-info {
        flex: 1;
        padding-right: 20px;
    }

    .product-info h2 {
        font-size: 1.8em;
        color: #333;
        margin-bottom: 10px;
    }

    .product-info h3 {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 15px;
    }

    .product-info h3 a {
        text-decoration: none;
        color: #333;
    }

    .price {
        font-size: 1.5em;
        color: #f56c40;
        margin-bottom: 15px;
    }

    .product-image {
        flex: 1;
        text-align: center;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .product-info form {
        margin-top: 15px;
    }

    .product-info form input[type="submit"] {
        background-color: #f56c40;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .product-info form input[type="submit"]:hover {
        background-color: #e25728;
    }
</style>

<div class="container">
    <div class="product-detail">
        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
            <p class="price">₽{{ product.price }}</p>
            {{ product.description|linebreaks }}
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
            </form>
        </div>
        <div class="product-image">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Изображение продукта">
        </div>
    </div>
</div>
{% endblock %}
